/* Animación para el fondo */
@keyframes moveBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

body {
    font-family: Arial, sans-serif;
    color: #d3a14f; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(media/plane-GettyImages-1551471455.jpg);
    background-size: cover;
    background-position: center top;
    animation: moveBackground 60s linear infinite; /* Animación de fondo */
}

/* Animación para hacer que los elementos aparezcan desde el fondo */
@keyframes slideInFromBack {
    0% {
        transform: translateZ(-100px); /* Mueve el elemento hacia atrás en el espacio 3D */
        opacity: 0;
    }
    100% {
        transform: translateZ(0); /* Lo coloca en su posición final */
        opacity: 1;
    }
}

header {
    width: 100%;
    background-color: #23363e;
    padding: 25px;
    text-align: right;
    /* No se aplica animación en el header */
}

button {
    padding: 15px 30px; 
    margin: 10px;
    background-color: #d3a14f;
    color: #131524;
    border-radius: 6px;
    border: none;
    font-size: 16px; 
    cursor: pointer; 
}

.registrarViaje button, .registrarServicio button {
    padding: 5px 50px;
    margin: 40px;
    background-color: #23363e;
    color: #d3a14f;
    border: solid #d3a14f 2px;
    font-size: 18px;
    animation: slideInFromBack 1s ease-out; /* Animación para estos botones también */
}

.caja {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-top: 280px;
    backdrop-filter: blur(10px); 
    border: 3px solid black;
    animation: slideInFromBack 1s ease-out; /* Animación para la caja */
}
