@keyframes moveBackground {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}

.bienvenido {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.logo {
    max-height: 50px;
    max-width: 100px;
    object-fit: contain;
    margin-left: 20px;
}

body {
    font-family: Arial, sans-serif;
    color: #d3a14f; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* que el contenido y el footer se distribuyan correctamente */
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(media/plane-GettyImages-1551471455.jpg);
    background-size: cover;
    background-position: center top;
    animation: moveBackground 60s linear infinite; 
}

@keyframes slideInFromBack {
    0% {
        transform: translateZ(-100px); 
        opacity: 0;
    }
    100% {
        transform: translateZ(0); 
        opacity: 1;
    }
}

header.header {
    width: 100%;
    background-color: #23363e; 
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    flex: 1;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-center h1 {
    margin: 0;
    color: #d3a14f;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;
    flex-direction: column; /* para que los botones estén en columna */
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px; /* Añade espacio entre los botones */
}

.cerrar {
    padding: 10px;
    margin: 10px;
    background-color: #d3a14f;
    color: #000000;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cerrar:hover {
    background-color: #b38b3d;
}

button {
    padding: 20px 40px; 
    margin: 10px;
    background-color: #d3a14f;
    color: #000000;
    border-radius: 6px;
    border: none;
    font-size: 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b38b3d;
}

/* Estilo para el botón de cerrar sesión */
.cerrar-sesion {
    padding: 10px 20px;
    background-color: #23363e; 
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cerrar-sesion:hover {
    background-color: #1b799e;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    padding: 30px;
    background-color: #23363e;
    text-align: center;
    position: relative;
    box-sizing: border-box; 
    flex-shrink: 0; 
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-content img {
    width: 50px; 
    height: auto; 
    border-radius: 5px; 
    margin-right: 20px;
}

.footer-content p {
    color: white;
    margin: 0;
}